.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  margin-bottom: 0;
  padding-bottom: 0;
  li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    width: calc(100% / 12);
    height: 60px;
    text-align: center;
    a {
      text-decoration: none;
      font-weight: 500;
      color: #3ccde0;
    }
  }
}

.active-link {
  color: #e40cf8;
  font-weight: 500;
}

.nav-attr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hr-grad {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    /* rgba(110, 110, 110, 0),
    rgb(60, 205, 224), */ rgb(228, 12, 248),
    rgba(110, 110, 110, 0),
    rgb(60, 205, 224),
    rgba(110, 110, 110, 0),
    rgb(228, 12, 248)
  );
}

.hr-grad-post {
  border: 0;
  height: 3px;
  width: 40%;
  background-image: linear-gradient(
    to right,
    /* rgba(110, 110, 110, 0),
    rgb(60, 205, 224), */ rgba(110, 110, 110, 0),
    rgb(228, 12, 248),
    rgb(60, 205, 224),
    rgb(228, 12, 248),
    rgba(110, 110, 110, 0)
  );
}

.post-settings {
  display: grid;
  justify-content: left;
  h3,
  h4,
  p {
    margin: 0;
  }
  h3 {
    margin-top: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
}