@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Space+Mono&display=swap");
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: calc(100vh - 107px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2,
h3,
p {
  font-family: Poppins;
}

ul {
  margin-bottom: 0;
  padding-bottom: 0;
}
ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  width: 8.3333333333%;
  height: 60px;
  text-align: center;
}
ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #3ccde0;
}

.active-link {
  color: #e40cf8;
  font-weight: 500;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 1rem;
  background-color: #fff;
}

.nav-attr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.hr-grad {
  border: 0;
  margin: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(110, 110, 110, 0), rgb(228, 12, 248), rgb(60, 205, 224), rgb(60, 205, 224), rgb(60, 205, 224), rgb(228, 12, 248), rgba(110, 110, 110, 0));
}

.hr-grad-post {
  height: 0.1px;
  width: 40%;
  margin-top: 2rem;
}

.hr-grad-repo {
  height: 0.1px;
  margin-top: 2rem;
}

.post-div {
  display: grid;
}
.post-div h3,
.post-div h4,
.post-div p {
  margin: 0;
}
.post-div h3 {
  margin-top: 2rem;
  font-weight: 500;
}
.post-div h4,
.post-div p {
  font-weight: 400;
}

.button {
  background-image: linear-gradient(to right, rgb(228, 12, 248), rgb(60, 205, 224));
  border: 1px;
  border-radius: 5px;
  height: 1.6rem;
  margin: 0.2rem;
}
.button a {
  text-decoration: none;
  font-family: Poppins;
  font-weight: 700;
  color: #fff;
  margin: 0.1rem;
}

.portfolio-container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.about-container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.cv-container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.error-container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.repos-container {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-items: center;
}

.repos-div h3 {
  font-family: Poppins;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0;
}
.repos-div p {
  font-family: Poppins;
  font-weight: 400;
  margin-top: 0;
}

.logo-container {
  height: 100%;
  width: 100%;
  padding-top: 80px;
  align-items: center;
  justify-items: center;
}

.logo-div {
  width: 100%;
}

.swd {
  font-weight: 300;
  font-size: 3.5rem;
  margin-top: 0;
}

.logo {
  width: 20rem;
}

.footer {
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
  padding-bottom: 1rem;
  background-color: #fff;
  font-size: 1rem;
}
.footer p {
  float: right;
  margin-right: 3rem;
}/*# sourceMappingURL=Style.css.map */