@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Space+Mono&display=swap');

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: calc(100vh - 107px);
  background: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2, h3, p {
  font-family: Poppins;
}

ul {
  margin-bottom: 0;
  padding-bottom: 0;
  li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    width: calc(100% / 12);
    height: 60px;
    text-align: center;
    a {
      text-decoration: none;
      font-weight: 500;
      color: #3ccde0;
    }
  }
}

.active-link {
  color: #e40cf8;
  font-weight: 500;
}

.nav-attr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.hr-grad {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    /* rgba(110, 110, 110, 0),
    rgb(60, 205, 224), */ 
    rgba(110, 110, 110, 0),
    rgb(228, 12, 248),
    rgb(60, 205, 224),
    rgb(60, 205, 224),
    rgb(60, 205, 224),
    rgb(228, 12, 248),
    rgba(110, 110, 110, 0)
  );
}

.hr-grad-post {
  // border: 0;
  height: .1px;
  width: 40%;
  margin-top: 2rem;
  // background-image: linear-gradient(
  //   to right,
  //   rgba(110, 110, 110, 0),
  //   rgb(228, 12, 248),
  //   rgb(60, 205, 224),
  //   rgb(60, 205, 224),
  //   rgb(228, 12, 248),
  //   rgba(110, 110, 110, 0)
  // );
}

.hr-grad-repo {
  height: .1px;
  margin-top: 2rem;
}

.post-div {
  display: grid;
  h3,
  h4,
  p {
    margin: 0;
  }
  h3 {
    margin-top: 2rem;
    font-weight: 500;
  }
  h4, p {
    font-weight: 400;
  }

}

.button {
  // background-color: #3ccde0;
  background-image: linear-gradient(
    to right,
    rgb(228,12,248),
    rgb(60, 205, 224)
  );
  border: 1px;
  border-radius: 5px;
  height: 1.6rem;
  margin: .2rem;
  a {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    color: #fff;
    margin: .1rem;
  }
}

.repos-container {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-items: center;
}

.repos-div {
  h3 {
    font-family: Poppins;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    margin-top: 0;
  }
}

.logo-div {
  height: 100%;
  width: 100%;
  align-items: center;
  // display: inline-block;
  // border-radius: 5%;
  // margin-top: 10rem;
  .logo {
    width: 20rem;
  }
  .swd {
    font-weight: 300;
    font-size: 4rem;
    margin-top: 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  font-size: 1rem;
  p {
    float: right;
    margin-right: 3rem;
  }
}